<ion-content padding class="background">

  <h4 class="title">Ubah Kata Sandi</h4>
  <div class="container">
    <ion-chip style="color: white;" [routerLink]="['/siswa/akun']">
      <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
      <ion-label> Back </ion-label>
    </ion-chip>
    <div class="container">

      <ion-item color="None" style="color: white; width: 250px; font-size: 14px; margin-left: 15%;  margin-top: 5%;">

        <ion-input placeholder="kata sandi lama" style="font-weight: normal;"></ion-input>
      </ion-item>
      <ion-item color="None" style="color: white; width: 250px; font-size: 14px; margin-left: 15%;  ;">

        <ion-input placeholder="kata sandi baru" style="font-weight: normal;"></ion-input>
      </ion-item>
      <ion-item color="None" style="color: white; width: 250px; font-size: 14px; margin-left: 15%;  ">

        <ion-input placeholder="konfirmasi kata sandi baru" style="font-weight: normal;"></ion-input>
      </ion-item>
      <a href="#" style="color: white; margin-top: 0%; font-size: 12px; margin-left: 20%;">lupa kata sandi ya</a>
    </div>
    <ion-grid style="margin-top: 20%; margin-left: 23%;">
      <ion-button> Ubah kata sandi</ion-button>
    </ion-grid>
  </div>


</ion-content>