ion-content.background{
    --background : url(../../../../assets/Background-2.png) 0 0/100% 100% no-repeat;
}

ion-content{ 
    overflow: auto;
    height: 20%;
}



.title {
    text-align: center;
    color: white;
    font-weight: bold;
}


ion-card{
    height: auto;
    width: auto;
    
}

ion-card h5{
    margin-top: 5%;
    margin-left: 5%;
    font-weight: bolder;
    margin-bottom: 0%;
}
.identitas{
    margin: 0%;
    text-align: left;
    
}


.kolom{
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
}
.detail{
    border-top: 1px solid;
}

.bayaran{
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
    text-align: left;

}
.bayaran-1{
    margin-top: -70px;
    margin-bottom: 0%;
    margin-left: 5%;
    text-align: left;
    

}
.detail-bayar{
    border-top: 1px solid;
    padding-top: 0%;
}

.harga{
    margin: 0%;
}
.total{
   
    margin-bottom: 0%;
    margin-left: 5%;
    text-align: left;
    color: black;
    font-weight: bolder;
    border-top: 1px solid;
    font-size: 14px;

}
.warning{
    margin-left: 3%;
    margin-bottom: 0%;
    margin-right: 0%;
    text-align: left;
    color: black;
    font-size: 12px;

}
ion-icon {
    --ionicon-stroke-width: 50px;
    font-size: 30px;
    color: black;
    margin-top: 5%;
  }


.metode{
    margin-top: 0%;

}

.input{
    border-bottom: 1px solid;
    color: transparent;
}

.ion-button{
    --background:rgb(25, 24, 71);
    --border-radius: 30%;
   
}
