<ion-content padding class="background">

  <h4 class="title">Akun</h4>
  <div class="container">
    <ion-chip style="color: white;" [routerLink]="['../../']">
      <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
      <ion-label> Back </ion-label>
    </ion-chip>
    <div class="container">
      <!-- data siswa -->
      <ion-card>
        <h5>account</h5>
        <ion-grid class="detail">

          <ion-list>
            <ion-item [routerLink]="['biodata']">
              <ion-icon name="information-outline" style="margin: 0%; margin-right: 5%;"></ion-icon>
              <ion-label style="margin: 0%;">
                Biodata siswa
              </ion-label>

            </ion-item>

            <ion-item [routerLink]="['kata-sandi']">
              <ion-icon name="lock-closed-outline" style="margin: 0%; margin-right: 5%;"></ion-icon>
              <ion-label style="margin: 0%;">
                Kata sandi
              </ion-label>


            </ion-item>

            <ion-item [routerLink]="['riwayat-pembayaran']">
              <ion-icon name="swap-horizontal-outline" style="margin: 0%; margin-right: 5%; margin-right: 5%;">
              </ion-icon>
              <ion-label style="margin: 0%;">
                Riwayat Pembayaran
              </ion-label>


            </ion-item>

          </ion-list>

          <ion-button color="danger" expand="block" style="margin-top: 50%;">

            <ion-icon style="color: white; margin-top: 0%; margin-right: 3%;" name="power-outline"></ion-icon>
            <ion-label style="background-color: transparent;"> logout</ion-label>

          </ion-button>

        </ion-grid>

      </ion-card>



    </div>

  </div>


</ion-content>