<ion-content padding class="background">
  
 
    <img src="../../../assets/Hogwarts.png" alt="hogwarts">


  <div class="container">
    <form>
      <ion-input type="text" placeholder="NIS" name="email" [(ngModel)]="user.email"></ion-input>
      <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"></ion-input>
      <button class="button button1" (click)="login()">LOGIN</button>
    </form>
  </div>

  <div class="footer">
    <P> Saya <a style="color: red; font-weight: bold;">lupa</a> mau reset password</P>
  </div>
  
</ion-content>