ion-content.background{
     --background : url(../../../assets/Background-3.png) 0 0/100% 100% no-repeat;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;  
}

.container{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 350px;
}

.container h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #30475e;
}
.container label{
    text-align: left;
    color: #90caf9;
}
.container form ion-input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    color: #30475e;
    font-size: 20px;
}
.button {
    background-color:#30475e;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
  }
  

  .button1 {border-radius: 50px;
width: 100%;}

.footer {
    position: fixed;
    color: #30475e;
    margin: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: initial;
}