<ion-content padding class="background" scrollX="true">

  <h4 class="title">Home</h4>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <h1>Hai,Siswa</h1>
          <span style="color: white;">Selamat Datang</span>
        </ion-col>
        <ion-col>
          <ion-avatar>
            <img src="../../assets/image.jpg" alt="">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- ion menu -->
  <div class="container">
    <h4 class="menu">Menu</h4>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card [routerLink]="['../../tagihan']">
            <ion-card-content>
              <ion-icon name="folder-outline"></ion-icon>
              <h2>Tagihan</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-icon name="book-outline"></ion-icon>
              <h2>Absensi</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="bottomRow">
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-icon name="card-outline"></ion-icon>
              <h2>Tabungan</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-icon name="calendar-outline"></ion-icon>
              <h2>Jadwal</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- upcoming -->
  <div class="container">
    <h4>Upcoming</h4>
    <img src="../../../assets/elegant-event-poster-with-black-splash_1361-2193.jpg" alt="">
  </div>

  <!-- pengumuman -->
  <div class="container">
    <h4>Pengumuman</h4>
    <ion-card>
      <ion-list>
        <ion-item>
          <div class="imgContainer">
            <img src="../../../assets/Hogwarts.png" alt="hogwarts">
          </div>
          <ion-label>
            <span>Vaksin Gratis</span>
            <p>Katanya vaksin gratis</p>
          </ion-label>

        </ion-item>
        <ion-item>
          <div class="imgContainer">
            <img src="../../../assets/Hogwarts.png" alt="hogwarts">
          </div>
          <ion-label>
            <span>Work From Home</span>
            <p>Perpanjangan masa work from home</p>
          </ion-label>

        </ion-item>
      </ion-list>
    </ion-card>
  </div>

</ion-content>