<ion-content padding class="background">
  <ion-chip style="color: white;" [routerLink]="['../../']">
    <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
    <ion-label> Back </ion-label>
  </ion-chip>


  <div class="ion-padding">

    <ion-card *ngIf="scannedCode">
      <ion-card-content>
        Result from scan: {{ scannedCode }}
      </ion-card-content>
    </ion-card>



    <ion-card style="width: auto; height: 350px; padding: 80px;">
      <ngx-qrcode [value]="createdCode">
      </ngx-qrcode>

    </ion-card>


  </div>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends" (click)="createCode()">
      <ion-label>tampilkan barcode</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>scan barcode</ion-label>
    </ion-segment-button>
  </ion-segment>



</ion-content>