<ion-content padding class="background">

  <h4 class="title">Pemberitahuan</h4>
  <div class="container">
    <ion-chip style="color: white;" [routerLink]="['../../']">
      <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
      <ion-label> Back </ion-label>
    </ion-chip>
    <div class="container">

      <ion-card style="padding-top: 5%; padding-left: 5%; width: 300px; margin-right: 5%; margin-left: 0%;">
        <h5 style="color:black; font-size: 12px; margin: 0%; font-weight: bolder;">Surat Edaran Bidang Akademik</h5>
        <p style="margin: 0%; font-size: 10px;">informasi tagihan spp semester genap Lorem ipsum dolor sit amet
          consectetur
          adipisicing
          elit. </p>
        <p style="text-align: right; margin-right: 5%; font-size: 10px;">20/21/2020</p>
      </ion-card>
      <ion-card style="padding-top: 5%; padding-left: 5%; width: 300px; margin-right: 5%; margin-left: 0%;">
        <h5 style="color:black; font-size: 12px; margin: 0%; font-weight: bolder;">pembayaran sukses</h5>
        <p style="margin: 0%; font-size: 10px;">informasi tagihan spp semester genap Lorem ipsum dolor sit amet
          consectetur
          adipisicing
          elit. </p>
        <p style="text-align: right; margin-right: 5%; font-size: 10px;">20/21/2020</p>
      </ion-card>
      <ion-card style="padding-top: 5%; padding-left: 5%; width: 300px; margin-right: 5%; margin-left: 0%;">
        <h5 style="color:black; font-size: 12px; margin: 0%; font-weight: bolder;">discount pembayaran spp</h5>
        <p style="margin: 0%; font-size: 10px;">informasi tagihan spp semester genap Lorem ipsum dolor sit amet
          consectetur
          adipisicing
          elit. </p>
        <p style="text-align: right; margin-right: 5%; font-size: 10px;">20/21/2020</p>
      </ion-card>

    </div>

  </div>


</ion-content>