<ion-content padding class="background">

  <h4 class="title">Tagihan</h4>
  <div class="container">
    <ion-chip style="color: white;" [routerLink]="['../../']">
      <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
      <ion-label> Back </ion-label>
    </ion-chip>
    <div class="container">
      <!-- data siswa -->
      <ion-card>
        <h5>Detail Pemeriksaan</h5>
        <ion-grid class="detail">

          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> Name :</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">alexander makmun</p>
            </ion-col>
          </ion-row>
          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> Periode Pembayaran :</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">21/06/1998</p>
            </ion-col>
          </ion-row>
          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> NIS</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">4307</p>
            </ion-col>
          </ion-row>
          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> Nama sekolah</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">Ponpes Hogwarts</p>
            </ion-col>
          </ion-row>
          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> Detail Tagihan</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">SPP MEI 1998</p>
              <p class="identitas">SPP maret 2020</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- harga -->
        <h5>Detail Pembayaran</h5>
        <ion-grid class="detail-bayar">
          <!-- detail harga -->
          <ion-row class="bayaran ">
            <ion-col>
              <p> SPP MEI 1998</p>
            </ion-col>
            <ion-col>
              <p> Rp250.000</p>
            </ion-col>
          </ion-row>
          <ion-row class="bayaran-1">
            <ion-col>
              <p> SPP MEI 1998</p>
            </ion-col>
            <ion-col>
              <p> Rp250.000</p>
            </ion-col>
          </ion-row>
          <ion-row class="total">
            <ion-col>
              <p> Total</p>
            </ion-col>
            <ion-col>
              <p> Rp500.000</p>
            </ion-col>
          </ion-row>
          <ion-row class="warning">
            <ion-col size="1.5">
              <ion-icon name="shield-outline"></ion-icon>
            </ion-col>
            <ion-col>
              all your transaction are secure and fast. by countinuing, you agree to the <a href="#"
                style="color: red;">term
                & condition</a>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="1.2" style="padding-top: 3%;">
              <ion-icon name="card-outline"></ion-icon>
            </ion-col>

            <ion-col size="6">
              <p style="color: black;">Metode Pembayaran</p>
            </ion-col>

            <ion-col style="padding-right: 0%;" (click)="metode()">
              <p style="text-align: right; color: black;"> indomart/i.saku</p>
            </ion-col>
            <ion-col size="1" style="padding-right: 0%; padding-top: 3%;" (click)="metode()">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button color="success" expand="block" (click)="bayar()">B A Y A R</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  </div>


</ion-content>