<ion-content padding class="background">

  <h4 class="title">Riwayat Pembayaran</h4>
  <div class="container">
    <ion-chip style="color: white;" [routerLink]="['../../']">
      <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
      <ion-label> Back </ion-label>
    </ion-chip>
    <div class="container">
      <ion-searchbar color="None" style="color: white; border-bottom: 1px solid;"> </ion-searchbar>
      <ion-card>
        <!-- Riwayat -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="head"> spp mei 1998</p>
            </ion-col>
            <ion-col>
              <p class="status"> dibayar</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p> jumlah total</p>
            </ion-col>
            <ion-col>
              <p class="isi">500.000</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p> metode pembayaran</p>
            </ion-col>
            <ion-col>
              <p class="isi"> indoapril</p>
            </ion-col>
          </ion-row>
        </ion-grid>



      </ion-card>

      <ion-card>

        <!-- Riwayat -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="head"> spp mei 1920</p>
            </ion-col>
            <ion-col>
              <p class="status"> dibayar</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p> jumlah total</p>
            </ion-col>
            <ion-col>
              <p class="isi">700.000</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p> metode pembayaran</p>
            </ion-col>
            <ion-col>
              <p class="isi"> indoapril</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <!-- Riwayat -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="head"> spp mei 2019/p>
            </ion-col>
            <ion-col>
              <p class="status"> dibayar</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p> jumlah total</p>
            </ion-col>
            <ion-col>
              <p class="isi">100.000</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p> metode pembayaran</p>
            </ion-col>
            <ion-col>
              <p class="isi"> indoapril</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  </div>


</ion-content>