ion-content.background{
    --background : url(../../../assets/Background-2.png) 0 0/100% 100% no-repeat;
}

.title {
    text-align: center;
    color: white;
    font-weight: bold;
}

ion-avatar {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
}

.container{
    margin: 5%;
}

ion-card {
    background-color: white;
}


ion-card-content{
    color: black;
    text-align: center;
}

ion-icon {
    font-size: 60px;
}

.bottomRow {
  margin-top: -25px;
}

.menu {
    font-weight: bolder;
    font-size: 26px;
    color: white;
}

h1 {
    font-weight: bold;
    color: white;
}

h2 {
    font-weight: bolder;
    font-size: 18px;
}

h4 {
    font-weight: bolder;
    font-size: 26px;
    color: black;
}

.imgContainer {
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
}

ion-item {
    margin: 10px;
}