<ion-content padding class="background">

  <h4 class="title">Biodata</h4>
  <div class="container">
    <ion-chip style="color: white;" [routerLink]="['/siswa/akun']">
      <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
      <ion-label> Back </ion-label>
    </ion-chip>
    <div class="container">
      <!-- data siswa -->
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h5 style="color: black;"> Halo, makmun</h5>
            </ion-col>
            <ion-col><img src="../../../../assets/image.jpg" alt="" srcset=""></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="detail">

          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> Name :</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">alexander makmun</p>
            </ion-col>
          </ion-row>
          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> Periode Pembayaran :</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">21/06/1998</p>
            </ion-col>
          </ion-row>
          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> NIS</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">4307</p>
            </ion-col>
          </ion-row>
          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> Nama sekolah</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">Ponpes Hogwarts</p>
            </ion-col>
          </ion-row>
          <!-- item data -->
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> nama ayah</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">json saefudin </p>
            </ion-col>
          </ion-row>
          <ion-row class="baris">
            <ion-col class="kolom" size="5">
              <p class="identitas"> nama ibu</p>
            </ion-col>
            <ion-col class="kolom">

              <p class="identitas">angular cordova </p>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-card>
    </div>

  </div>


</ion-content>