<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tagihan">
      <ion-icon name="folder-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="barcode">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="pemberitahuan">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-badge>3</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="akun">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>