<ion-content padding class="background">

  <h4 class="title">Metode</h4>
  <div class="container">
    <ion-chip style="color: white;">
      <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
      <ion-label> Back </ion-label>
    </ion-chip>
    <div class="container">
      <!-- data siswa -->
      <ion-card>
        <h5>Metode Pembayaran</h5>
        <ion-grid class="detail">

          <ion-list>
            <ion-radio-group value="biff">
              <ion-item>
                <ion-icon name="information-outline" style="margin: 0%; margin-right: 3%;"></ion-icon>
                <ion-label style="margin: 0%;">

                  indomart/i.saku

                </ion-label>
                <ion-radio color="danger" slot="end" value="biff"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-icon name="at-outline" style="margin: 0%;  margin-right: 3%;"></ion-icon>
                <ion-label style="margin: 0%;">
                  alfamart
                </ion-label>
                <ion-radio color="danger" slot="end" value="griff"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-icon name="link-outline" style="margin: 0% ;  margin-right: 3%;"></ion-icon>
                <ion-label style="margin: 0%;">
                  link aja
                </ion-label>
                <ion-radio color="danger" slot="end" value="buford"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-button color="success" expand="block" style="margin-top: 50%;" (click)="dismiss()">K O M F I R M A S I
          </ion-button>

        </ion-grid>

      </ion-card>



    </div>

  </div>


</ion-content>