<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-chip slot="start">
          <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
          <ion-label style="color: white;"> Back </ion-label>
      </ion-chip>
      <ion-title>Laporan</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar placeholder="Cari Siswa"></ion-searchbar> 
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background">

  <!-- Tampil detail -->
  <div class="container">
      <ion-card>
        
      </ion-card>
  </div>

</ion-content>
