.background{
    --background : url(../../../../assets/Background-2.png) 0 0/100% 100% no-repeat;
}

ion-toolbar {
    --background: transparent;
}

ion-searchbar {
    max-width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin: 5%;
}

.title {
    text-align: center;
    color: white;
    font-weight: bold;
}

h4 {
    font-weight: bolder;
    font-size: 26px;
    color: black;
}
