<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-chip slot="start">
          <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
          <ion-label style="color: white;"> Back </ion-label>
      </ion-chip>
      <ion-title>Laporan</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      
        <ion-select placeholder="Pilih Laporan">
          <ion-select-option value="spp bulanan">SPP Bulanan</ion-select-option>
          <ion-select-option value="study tour">Study Tour</ion-select-option>
        </ion-select> 
      
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background">

  <!-- Tampil Laporan -->
  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col style="text-align: center; margin-top: 15px;">
              <ion-icon name="school-outline" style="font-size: 50px;"></ion-icon>
            </ion-col>
            <ion-col size="8.5">
              <span>
                Kelas <br>
                Jurusan <br>
                Jumlah Siswa <br>
                Tahun Ajaran
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
