ion-content.background{
    --background : url(../../../assets/Background-2.png) 0 0/100% 100% no-repeat;
}

ion-toolbar{
    --background: transparent;
}

.container{
    margin: 5%;
}

ion-select {
    border-bottom: 1px solid;
    max-width: 60%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    color: white;
    font-weight: bold;
}

h4 {
    font-weight: bolder;
    font-size: 26px;
    color: black;
}

ion-card-content {
    margin: -15px;
}
